* {
    padding: 0px;
    margin: 0px;
  }
  img {
    max-width: 100%;
  }
  body {
    font-size: 20px;
    font-family: "montserrat",serif;
  }
  .header-wrapper {
    background-color: black;
    color: white;
    font-weight: 200;
    font-size: 0.75em;
  }
  .header-wrapper ul {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
  }
  .internal-wrapper {
    width: 980px;
    margin: 0 auto;
    padding: 0 10px;
  }
  .header-wrapper .header-link-wrapper ul li a {
    text-decoration: none;
    color: white;
  }
  .header-wrapper ul {
    list-style: none;
  }
  .header-wrapper .header-link-wrapper ul li {
    display: inline-block;
    padding: 14px 0 8px;
    height: 25px;
    opacity: 0.8;
  }
  .header-wrapper .header-link-wrapper ul li:hover {
    opacity: 1;
  }
  .logo-link,
  .search-link,
  .cart-link {
    width: 18px;
    display: block;
  }
  .header-wrapper .header-link-wrapper ul li.logo-link {
    padding: 12px 0 10px;
  }
  .header-wrapper .header-link-wrapper ul li.search-link {
    padding: 14px 0 8px;
  }
  .header-wrapper .header-link-wrapper ul li.cart-link {
    padding: 12px 0 10px;
  }
  /*body styling*/
  .main-highlight-wrapper {
    background-color: #fafafa;
    text-align: center;
    padding: 25px 0;
  }
  .links ul {
    list-style: none ;
  }
  .model {
    font-size: .85em;
  }
  .title {
    font-weight: 700;
    font-size: 56px;
  }
  .description {
    font-size: 2em;
  }
  .links {
    padding: 15px 0;
  }
  .links ul li {
    display: inline-block;
    padding-right: 20px;
  }
  .links ul li a {
    color: #06c;
    text-decoration: none;
  }
  .links ul li a:hover {
    color: #000;
  }
  .links ul li a:after {
    font-family: "fontAwesome";
    font-weight: 900;
    content: "\f054";
    padding-left: 10px;
  }
  /*second-highlight-section*/
  .second-highlight-wrapper {
    background-image: url("../images/home/iphone11-pro-bg.jpg");
    height: 580px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    padding: 65px 28px;
    text-align: center ;
  }
  .title {
    font-weight: 600;
    font-size: 56px;
  }
  .description {
    font-size: 26px;
    padding: 10px 0;
  }
  .price {
   color: #86868b; 
   font-size: 0.85em;
  }
  /*third-highlight-section*/
  .third-highlight-wrapper {
    background-image: url("../images/home/iphone11-bg.jpg");
    height: 580px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    padding: 65px 20px;
  }
  /*fourth-highlight-section*/
  .fourth-highlight-wrapper {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    background: #fff;
  }
  .left-side {
    height: 580px;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   text-align: center;
   width: 48.5%;
   margin: 1% 0.5% 0% 1%;
   padding-top: 54px;
  }
  .fourth-highlight-wrapper .left-side {
    background-image: url("../images/home/watch-series-5.jpg");
  }
  .right-side {
     height: 580px;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   text-align: center;
   width: 48.5%;
   margin: 1% 1% 0% 0.5%;
   padding-top: 54px;
  }
  .fourth-highlight-wrapper .right-side {
    background-image: url("../images/home/apple-card.jpg");
  }
  .description {
    max-width: 430px;
    margin: 0 auto;
    padding: 10px;
  }
  /*fifth-wrapper-section*/
  .fifth-highlight-wrapper {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    background: #fff;
  }
  .fifth-highlight-wrapper .left-side {
  background-image: url("../images/home/apple-tv-background.jpg");
  }
  .fifth-highlight-wrapper .right-side {
    background-image: url("../images/home/air-pods.jpg");
    color: #fff;
    background-size: initial;
    background-color: #000;
    background-position: bottom;
  }
  .logo {
    font-size: 40px;
    font-weight: bold;
  }
  .tvshow-logo {
    padding: 180px 0 200px;
  }
  .watch a {
  text-decoration: none;
  font-size: 0.85em;
  }
  .watch a:after {
    font-family: "FontAwesome";
    font-weight: 900;
    content: "\f144";
    padding-left: 15px;
  }
  /*sixh-highlight-section*/
  .sixth-highlight-wrapper {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    background: #fff;
  }
  .sixth-highlight-wrapper .left-side {
    background-image: url("../images/home/macbook-pro.jpg");
    background-size: initial;
    background-color: #fafafa;
    background-position: bottom;
  }
  .sixth-highlight-wrapper .right-side {
    background-image: url("../images/home/new-ipad.jpg");
  }
  .product-title {
    font-weight: 700;
    font-size: 45px;
  }
  /*footer style*/
  .footer-link {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    padding-top: 20px;
  }
  .footer-link a {
    text-decoration: none;
    color: #515154;
  }
  .footer-link a:hover {
    text-decoration: underline;
  }
  .footer-link h3 {
    font-size: 12px;
    font-weight: 600;
  }
  .upper-text {
    border-bottom: 1px solid #d2d2d7;
    color: #86868b;
    padding: 17px 0 20px;
  }
  .footer-wrapper {
    background-color: #f5f5f7;
    color: #1d1d1d;
    font-size: .65em;
    width: 980px;
    margin: 0 auto;
    padding: 0 10px;
  }
  .upper-text a {
    text-decoration: none;
    color: #515154;
  }
  .upper-text a:hover {
  text-decoration: underline;
  }
  .footer-wrapper ul {
    list-style: none;
    padding-bottom: 20px;
  }
  .footer-wrapper ul li {
  padding: 5px 0;
  font-size: 0.9em;
  
  }
  .my-apple {
    border-bottom: 1px solid #d2d2d7;
    padding-bottom: 10px;
    margin-bottom: 10px;
  }
  .copyright-wrapper {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    padding: 10px 0 20px;
  }
  .footer-links-term ul li {
    display: inline-block;
    padding: 0 5px;
    border-right: 1px solid #ccc;
  }
  .footer-links-term ul li:last-child {
    border-right: 0px;
  }
  .footer-links-term ul li a {
    text-decoration: none;
    color: #515154;
  }
  .footer-links-term ul li a:hover {
    text-decoration: underline;
  }
  .footer-country {
    display: inline-block;
  }
  .flag {
    display: inline-block;
    vertical-align: middle;
  }
  .country-name {
    display: inline-block;
    vertical-align: top;
  }